@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>Aplicativo de teste ProWay.</p>
    <p>Criado por Bruno Marques.</p>
    <p>Mais informações: <a href="https://www.linkedin.com/in/bruno-marques-39709a1a3/">Linkedin</a> ou <a href="mailto:brunoliveira.marques@gmail.com">Email</a></p>
</div>
